{% extends 'Snippets/base.html' %}
{% block head %}
{% endblock %}
{% block body %}
    <h1>Eliminar edificio</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        <p>¿De verdad desea eliminar "{{ edificio }}"? (se eliminaran todos los materiales que
            contenga)</p>
        <input type="submit" value="Eliminar" class="boton"/>
        <input type="button"
               value="Cancelar" onclick="location.href={% url 'Inventario:listar_edificios' %}"
               class="boton"/>
    </form>
{% endblock %}