{% if edificios_query %}
    {% load staticfiles %}
    <table>
        <thead>
        <tr>
            <td><b>Nombre</b></td>
            <td><b>Modificar</b></td>
            <td><b>Eliminar</b></td>
        </tr>
        </thead>
        <tbody>
        {% for edificio in edificios_query %}
            <tr>
                <td>
                    <a href="{% url 'Inventario:filtro_edificio' edificio.pk %}">{{ edificio.nombre }}</a>
                </td>
                <td><a href="{% url 'Inventario:modificar_edificio' edificio.pk %}">
                    <img src="{% static 'img/nicons/editar.png' %}" alt="modificar">
                </a></td>
                <td><a href="{% url 'Inventario:eliminar_edificio' edificio.pk %}">
                    <img src="{% static 'img/nicons/eliminar.png' %}" alt="eliminar">
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'Snippets/paginacion.html' %}
{% endif %}